@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsla(52, 32%, 94%, 1);
  --primary: hsla(50, 1%, 10%, 1);
  --secondary: hsla(0, 0%, 25%, 1);
  --muted: hsla(0, 0%, 60%, 1);
  --nav: hsla(0, 0%, 25%, 1);
  --highlight: hsla(130, 99%, 42%, 1);
  --button-background: hsla(0, 0%, 80%, 1);
  --error: hsla(0, 100%, 41%, 1);
  --black: hsla(0, 0%, 13%, 1);
  --overlay: hsla(0, 0%, 84%, 0.8);
  --footer-background: hsla(129, 5%, 50%, 1);
  --panel-background: hsla(0, 0%, 100%, 1);
  --panel-background-2: hsla(50, 4%, 79%, 0.2);
}

html.larry {
  --background: 42, 100%, 90%, 1;
  --primary: 298, 100%, 25%, 1;
  --secondary: 298, 100%, 48%, 1;
  --muted: 298, 100%, 25%, 0.6;
  --nav: 298, 100%, 48%, 1;
  --highlight: 91, 100%, 90%, 1;
  --button-background: 298, 100%, 48%, 1;
  --error: 0, 100%, 41%, 1;
  --black: 0, 0%, 13%, 1;
  --overlay: 298, 100%, 48%, 0.4;
  --footer-background: 0, 0%, 100%, 1;
  --panel-background: 0, 0%, 100%, 1;
  --panel-background-2: 0, 0%, 100%, 1;
}

html.darkGold {
  --background: 149, 38%, 4%, 1;
  --primary: 149, 100%, 92%, 1;
  --secondary: 149, 14%, 77%, 1;
  --muted: 0, 0%, 63%, 1;
  --nav: 0, 0%, 80%, 1;
  --highlight: 58, 100%, 53%, 1;
  --button-background: 51, 11%, 35%, 1;
  --error: 0, 100%, 41%, 1;
  --black: 0, 4%, 25%, 1;
  --overlay: 57, 100%, 53%, 0.2;
  --footer-background: 51, 11%, 35%, 1;
  --panel-background: 51, 11%, 35%, 1;
  --panel-background-2: 0, 0%, 30%, 0.2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 199, 5%, 4%, 1;
    --primary: 199, 31%, 85%, 1;
    --secondary: 199, 47%, 81%, 1;
    --muted: 199, 31%, 85%, 0.6;
    --nav: 199, 29%, 72%, 1;
    --highlight: 58, 100%, 53%, 1;
    --button-background: 50, 1%, 25%, 1;
    --error: 0, 100%, 41%, 1;
    --black: 0, 4%, 25%, 1;
    --overlay: 0, 0%, 50%, 0.4;
    --footer-background: 0, 0%, 4%, 1;
    --panel-background: 0, 0%, 4%, 1;
    --panel-background-2: 0, 0%, 40%, 0.2;
  }
}
