@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --background: 300, 1%, 5%, 1;
  --primary: 120, 25%, 90%, 1;
  --secondary: 120, 4%, 56%, 1;
  --muted: 120, 4%, 33%, 0.8;
  --third: 319, 100, 59, 1;
  --type-size-02: 1.5rem;
  --type-size-01: 1rem;
  --type-size-00: 0.75rem;
}

html.default {
  --background: 52, 32%, 94%, 1;
  --primary: 50, 1%, 10%, 1;
  --secondary: 0, 0%, 25%, 1;
  --muted: 120, 4%, 33%, 0.6;
  --nav: 0, 0%, 25%, 1;
  --overlay: 0, 0%, 84%, 0.8;

  @media (prefers-color-scheme: dark) {
    --background: 300, 1%, 5%, 1;
    --primary: 120, 25%, 90%, 1;
    --secondary: 120, 4%, 56%, 1;
    --muted: 120, 4%, 33%, 0.8;
    --nav: 120, 25%, 90%, 1;
    --overlay: 0, 0%, 50%, 0.4;
  }

  @media (prefers-color-scheme: light) {
    & header img {
      @apply invert;
    }
  }
}

html.space {
  --background: 199, 5%, 4%, 1;
  --primary: 300, 15%, 88%, 1;
  --secondary: 300, 3%, 74%, 1;
  --muted: 300, 15%, 88%, 0.6;
  --nav: 310, 97%, 64%, 1;
  --overlay: 300, 15%, 88%, 0.4;
}

html.larry {
  --background: 42, 100%, 90%, 1;
  --primary: 298, 100%, 25%, 1;
  --secondary: 298, 100%, 48%, 1;
  --muted: 298, 100%, 25%, 0.6;
  --nav: 298, 100%, 48%, 1;
  --overlay: 298, 100%, 48%, 0.4;
}

html.darkGold {
  --background: 149, 38%, 4%, 1;
  --primary: 149, 100%, 92%, 1;
  --secondary: 149, 14%, 77%, 1;
  --muted: 0, 0%, 63%, 1;
  --nav: 0, 0%, 80%, 1;
  --overlay: 57, 100%, 53%, 0.2;
}

html.hojden {
  --background: 52, 32%, 94%, 1;
  --primary: 131, 100%, 20%, 1;
  --secondary: 16, 100%, 66%, 1;
  --muted: 52, 32%, 94%, 1;
  --nav: 131, 100%, 20%, 1;
  --overlay: 298, 100%, 48%, 0.4;
}

html.ahmed {
  --background: 60, 5%, 4%, 1;
  --primary: 50, 25%, 90%, 1;
  --secondary: 54, 4%, 55%, 1;
  --muted: 47, 4%, 55%, 0.3;
  --nav: 50, 20%, 80%, 1;
  --overlay: 2rem;
  --size-02: 1.5rem;
}

html.frim {
  --background: 111, 100%, 95%, 0.5;
  --primary: 224, 100%, 30%, 1;
  --secondary: 0, 100%, 40%, 1;
  --muted: 224, 100%, 30%, 0.6;
  --nav: 224, 100%, 30%, 1;
  --overlay: 112, 100%, 50%, 0.4;
}

html.kvast {
  --background: 0, 0%, 96%, 1;
  --primary: 0, 0%, 13%, 1;
  --secondary: 0, 0%, 26%, 1;
  --muted: 0, 2%, 39%, 1;
  --nav: 0, 0%, 26%, 1;
  --overlay: 9, 85%, 55%, 0.2;
}

html.bronze {
  --background: 50, 30%, 12%, 1;
  --primary: 50, 4%, 96%, 1;
  --secondary: 50, 4%, 70%, 1;
  --muted: 50, 2%, 70%, 0.6;
  --nav: 51, 5%, 70%, 1;
  --overlay: 51, 11%, 35%, 0.2;
}

html.queen {
  --background: 0, 30%, 12%, 1;
  --primary: 50, 4%, 96%, 1;
  --secondary: 50, 4%, 70%, 1;
  --muted: 50, 2%, 70%, 0.6;
  --nav: 51, 5%, 70%, 1;
  --overlay: 51, 11%, 35%, 0.2;
}

html.moss {
  --background: 147, 30%, 12%, 1;
  --primary: 50, 4%, 96%, 1;
  --secondary: 50, 4%, 70%, 1;
  --muted: 50, 2%, 70%, 0.6;
  --nav: 51, 5%, 70%, 1;
  --overlay: 51, 11%, 35%, 0.2;
}

html.slate {
  --background: 214, 30%, 12%, 1;
  --primary: 50, 4%, 96%, 1;
  --secondary: 50, 4%, 70%, 1;
  --muted: 50, 2%, 70%, 0.6;
  --nav: 51, 5%, 70%, 1;
  --overlay: 51, 11%, 35%, 0.2;
}

html.hotPink {
  --background: 309, 87%, 36%, 1;
  --primary: 50, 4%, 96%, 1;
  --secondary: 50, 4%, 80%, 1;
  --muted: 50, 2%, 70%, 0.8;
  --nav: 51, 5%, 80%, 1;
  --overlay: 51, 11%, 35%, 0.2;
}

html.helloDarkness {
  --background: 149, 38%, 4%, 1;
  --primary: 160, 8%, 90%, 1;
  --secondary: 121, 4%, 70%, 1;
  --muted: 129, 5%, 70%, 0.8;
  --nav: 0, 0%, 80%, 1;
  --overlay: 166, 100%, 20%, 0.2;
}

html.goldenCircle1 {
  --background: 0, 0%, 10%, 1;
  --primary: 0, 0%, 85%, 1;
  --secondary: 12, 65%, 59%, 1;
  --muted: 0, 0%, 47%, 1;
  --nav: 347, 60%, 66%, 1;
  --overlay: 0, 0%, 0%, 0.3;
}

html.goldenCircle2 {
  --background: 0, 0%, 10%, 1;
  --primary: 0, 0%, 85%, 1;
  --secondary: 74, 31%, 45%, 1;
  --muted: 0, 0%, 47%, 1;
  --nav: 196, 50%, 45%, 1;
  --overlay: 0, 0%, 0%, 0.3;
}

html.newLand {
  --background: 206, 13%, 11%, 1;
  --primary: 0, 0%, 84%, 1;
  --secondary: 315, 34%, 50%, 1;
  --muted: 0, 0%, 63%, 1;
  --nav: 188, 53%, 55%, 1;
  --overlay: 0, 0%, 0%, 0.3;
}

html.hundredK {
  --background: 345, 6%, 13%, 1;
  --primary: 50, 4%, 96%, 1;
  --secondary: 50, 4%, 80%, 1;
  --muted: 50, 2%, 70%, 0.8;
  --nav: 51, 5%, 80%, 1;
  --overlay: 345, 6%, 13%, 0.8;
}

html.silverGrey1 {
  --background: 300, 1%, 25%, 1;
  --primary: 120, 25%, 90%, 1;
  --secondary: 120, 4%, 56%, 1;
  --muted: 120, 4%, 33%, 0.8;
  --nav: 120, 25%, 90%, 1;
  --overlay: 280, 5%, 12%, 0.8;
}

html.silverGrey2 {
  --background: 280, 2%, 27%, 1;
  --primary: 50, 4%, 96%, 1;
  --secondary: 50, 4%, 80%, 1;
  --muted: 50, 2%, 70%, 0.8;
  --nav: 51, 5%, 80%, 1;
  --overlay: 280, 5%, 12%, 0.8;
}

html.darkGrey1 {
  --background: 280, 5%, 12%, 1;
  --primary: 120, 25%, 90%, 1;
  --secondary: 120, 4%, 56%, 1;
  --muted: 120, 4%, 33%, 0.8;
  --nav: 120, 25%, 90%, 1;
  --overlay: 280, 5%, 12%, 0.8;
}

html.eroPink {
  --background: 0, 0%, 100%, 1;
  --primary: 351, 88%, 62%, 1;
  --secondary: 351, 88%, 62%, 0.8;
  --muted: 351, 88%, 62%, 0.6;
  --nav: 351, 88%, 62%, 1;
  --overlay: 351, 88%, 62%, 0;
}

html.blackOnWhite {
  --background: 0, 0%, 100%, 1;
  --primary: 0, 0%, 10%, 1;
  --secondary: 0, 0%, 45%, 0.9;
  --muted: 0, 0%, 55%, 0.6;
  --nav: 0, 0%, 25%, 1;
  --overlay: 0, 0%, 84%, 0.7;
}

html.darkGreyCM {
  --background: 280, 5%, 12%, 1;
  --primary: 340, 15%, 90%, 1;
  --secondary: 193, 20%, 85%, 1;
  --muted: 193, 4%, 70%, 1;
  --nav: 193, 50%, 85%, 1;
  --overlay: 280, 5%, 12%, 0.8;
}
